{% assign thesis-sidebar = site.data.data.sidebar.thesis-sidebar %}
{% if thesis-sidebar %}
<div class="thesis-container container-block">
  <h2 class="container-block-title">
    My Dissertation
  </h2>

  <ul class="list-unstyled interests-list">
    {% for thesis in thesis-sidebar %}

      {% if thesis.link %}
      <li><a href="{{ thesis.link }}">{{ thesis.thesis_title }}</a></li>
      {% else %}
      <li>{{ thesis.thesis_title }}</li>
      {% endif %}

    {% endfor %}
  </ul>
</div>
{% endif %}
